@{
    ViewData["Title"] = "Wishlist";
}

<div class="container col-12 col-lg-6">
    <h2 class="ml-3">Products in wishlist </h2>
    <p>Ops, Wishlist is empty!</p>
    <a class="nav-link" asp-controller="Home" asp-action="Index"><p>Back to Home Page</p></a>
</div>